.megamenu {
    position: static;
}

.megamenu .dropdown-menu {
    background: none;
    border: none;
    width: 100%;
}

body {
    background: #eaafc8;
    background: -webkit-linear-gradient(to right, #f5eaef, #fcfcfd);
    background: linear-gradient(to right, #fceded, #e7e0e3);
    min-height: 100vh;
    font-family: Arial;
}



code {
    color: #a04db6;
    background: #B5B5B5;
    padding: 0.1rem 0.2rem;
    border-radius: 0.2rem;
}

.text-uppercase {
    letter-spacing: 0.08em;
}